body{
    margin: 0;
    padding: 0;
    background: lightgray;
}
.switch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input[type="checkbox"]{
    position: relative;
    width: 400px;
    height: 200px;
    appearance: none;
    border: 5px gray solid;
    background: #b4b4b4;
    box-shadow: inset 0 0 10px;
    border-radius: 200px;
    transition: 0.5s;
}
input:checked[type="checkbox"]{
    background-color: #059ce7;
}
input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background:white;
    transition: 0.5s;
    box-shadow: 0 0 10px;
}

input:checked[type="checkbox"]::before{
    left: 200px;
}