.offcanvas{
    width: 700px !important;
}

.list a, li {
    text-decoration: none;
    list-style: none;
    color: #000;
}

.logo{
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
    color: #fff;
    background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
    border-radius: 6px;
    font-weight: 700;
    font-size: 32px;
}

.profile-pic{
    background: url(photo-1502937406922-305bb2789e95.jpg);
    border-radius: 99px;
}