body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.container{
  display: flex;
  margin-top: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  transform: translateY();
  /* position: absolute;
  top: 50%;
  left: 50%; */
  gap: 40px;
  font-family: "Audiowide", sans-serif;                                               
  font-weight: bold;
  font-size: 100px;
  color: greenyellow;
}