*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(236,80,255,1) 0%, rgba(0,171,255,1) 100%);
}
.container{
    height: 80vh;
    background-color: #ffffff50;
    box-shadow: 0 15px 40px -20px black;
}
.fa-check{
    color: green;
}

.fa-trash{
    color: red;
}

#add-btn{
    background-color: #8c00ff;
}